<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ProTip.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EE1EF1C31C7A4633006E88E6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EE1EF1D71C7A4633006E88E6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EE1EF1E21C7A4633006E88E6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
